# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.bak

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Folders to ignore
.hg
.svn
.CVS

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

# Tudo excepto o sample_config.php
/www/app/config/*
!/www/app/config/sbook.php
