/* 
    Document   : ie7.css
    Created on : 26/Fev/2010, 19:25:28
    Author     : Nuno Ferreira
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

UL.filtros LI INPUT.text
{
	height				:19px;
}

select
{
	padding-top:10px;
	margin				:1px 1px 1px 1px;
}

